# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Order_Management/target/
/Order_Managment_System/target/
/.metadata/
/Register_Page/nbproject/private/
/Register_Page/build/
/Dash+Register/Register/nbproject/private/
/BUY/BUY/nbproject/private/
/JDBC_BUY/Register/nbproject/private/
/Track/Register/nbproject/private/
/Track V2/Register/nbproject/private/
/Track V3/Register/nbproject/private/
/Track v4/RegisterTrackv4/nbproject/private/
/Track v5/RegisterTrackv5/nbproject/private/
/Track v6/Register_2_Trackv6/nbproject/private/
/Track v6.1/trackv6.1/nbproject/private/
/Track v6.1/trackv6.1/build/
/Track v6/Register_2_Trackv6/build/
/Track v6/Register_2_Trackv6/dist/
/Track v6.2/Track v6.2/nbproject/private/
/Travk v6.3/Trackv6.3/nbproject/private/
/Track v6.2/Register/nbproject/private/
/Track v6.2/Register/build/